$iconSize: 24px;
$basicGray: #737373;

.footer-container {
  padding: 10px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  border-top: 1px solid $basicGray;
  background-color: #ffff;

  .items-container {
    width: 15%;
    background-color: transparent;

    i {
      font-size: $iconSize;
    }

    .profile-photo {
      width: $iconSize;
      height: $iconSize;
      border-radius: 50%;
    }
  }

  @media (min-width: 790px) {
    & {
      display: none;
    }
  }
}
